!!!
%html
  %head
    = stylesheet_link_tag("whurl_engine/application")
    = javascript_include_tag("whurl_engine/jquery-1.7.1.min")
    = javascript_include_tag("whurl_engine/jquery-ui-1.8.16.min")
    = javascript_include_tag("whurl_engine/jquery-ujs")
    = javascript_include_tag("whurl_engine/jquery.livequery")
    = javascript_include_tag("whurl_engine/application")
    = javascript_include_tag("whurl_engine/ZeroClipboard")
    :javascript
      $(function() {
        ZeroClipboard.setMoviePath('#{asset_path('whurl_engine/ZeroClipboard10.swf')}');
        $( "input:submit, input:button, button, .button").livequery(function() {
          $(this).button();
          $("a.popup").button('option', 'icons', {primary: 'ui-icon-newwin'});
          $("a.add").button('option', 'icons', {primary: 'ui-icon-plusthick'});
          $("a.destroy").button('option', 'icons', {primary: 'ui-icon-closethick'});
          $("a.trash").button('option', 'icons', {primary: 'ui-icon-trash'});
          $("a.edit").button('option', 'icons', {primary: 'ui-icon-pencil'});
          $("a.destroy, a.edit, a.add, a.trash").button('option', 'text', false);
        });

        $( ".accordion" ).accordion({
          autoHeight: false,
          navigation: true,
          collapsible: true,
          active: false
        });
      });

    %title Whurl - API Console
  %body
    .content
      - if notice || alert
        .flash
          - if notice
            .ui-state-highlight.ui-corner-all
              = notice
          - if alert
            .ui-state-error.ui-corner-all
              = alert
      = yield
    .footer
      %p
        Created by
        = succeed "." do
          %a.contact{:href => "mailto:will.read@gmail.com"} Will Read
        See it on
        = succeed "." do
          %a{:href => "https://github.com/tildewill/whurl"} Github
