!!!
%html
  %head
    = stylesheet_link_tag("whurl_engine/application")
    = stylesheet_link_tag("whurl_engine/trontastic/jquery-ui-1.8.16.custom")
    = javascript_include_tag("whurl_engine/jquery-1.7.1.min")
    = javascript_include_tag("whurl_engine/jquery-ui-1.8.16.min")
    = javascript_include_tag("whurl_engine/jquery-ujs")
    = javascript_include_tag("whurl_engine/jquery.livequery")
    = javascript_include_tag("whurl_engine/application")
    = javascript_include_tag("whurl_engine/ZeroClipboard")
    :javascript
      $(function() {
        ZeroClipboard.setMoviePath('#{asset_path('whurl_engine/ZeroClipboard10.swf')}');
        $( "input:submit, button, .button").livequery(function() {
          $(this).button();
          $("a.popup").button('option', 'icons', {primary: 'ui-icon-newwin'});
          $("a.destroy").button('option', 'icons', {primary: 'ui-icon-closethick'});
          $("a.edit").button('option', 'icons', {primary: 'ui-icon-pencil'});});
          $("a.destroy, a.edit").button('option', 'text', false);
      });

    %title Whurl - API Console
    :javascript
      $(function() {
       $('#saved_whurls').hover(
        function () {
         $(this).stop().animate({'marginLeft':'-2px'},200);
        },
        function () {
         $(this).stop().animate({'marginLeft':'-400px'},200);
        }
       );
      });
  %body
    - if flash[:message] || flash[:warning]
      .flash
        - if flash[:message]
          %span.message= flash[:message]
        - if flash[:warning]
          %span.warning= flash[:warning]
    .content
      = yield
    .footer
      %p
        Created by
        = succeed "." do
          %a.contact{:href => "mailto:will.read@gmail.com"} Will Read
        See it on
        = succeed "." do
          %a{:href => "https://github.com/tildewill/whurl"} Github
