!!!
%html
  %head
    = stylesheet_link_tag("whurl_engine/application")
    = javascript_include_tag("whurl_engine/jquery-1.7.1.min")
    = javascript_include_tag("whurl_engine/jquery-ui-1.8.16.min")
    = javascript_include_tag("whurl_engine/application")
    = javascript_include_tag("whurl_engine/ZeroClipboard")
    :javascript
      $(document).ready(function() {
          ZeroClipboard.setMoviePath('#{asset_path('whurl_engine/ZeroClipboard10.swf')}');
      });

    %title Whurl - API Console
    :javascript
      $(function() {
       $('#saved_whurls').hover(
        function () {
         $(this).stop().animate({'marginLeft':'-2px'},200);
        },
        function () {
         $(this).stop().animate({'marginLeft':'-400px'},200);
        }
       );
      });
  %body
    - if flash[:message] || flash[:warning]
      .flash
        - if flash[:message]
          %span.message= flash[:message]
        - if flash[:warning]
          %span.warning= flash[:warning]
    #wrapper
      =link_to(image_tag("whurl_engine/logo.png", :height => "147", :width => "521", :class => 'logo'), root_url)
      %p.tagline The Whurl Console makes HTTP requests against the API of your choice.
      .containerTop  
      #container
        .content
          = yield
        .footer
          %p
            Created by
            = succeed "." do
              %a.contact{:href => "mailto:will.read@gmail.com"} Will Read
            See it on
            = succeed "." do
              %a{:href => "https://github.com/tildewill/whurl"} Github
            %br/
            %span.meadowfete
              Designed by
              = succeed "." do
                %a.meadowfete{:href => "http://meadowfete.com", :target => "_blank"} Meadowfete
      =image_tag("whurl_engine/container_bottom.png", :height => "56", :width => "980")
      %ol#saved_whurls
        - WhurlEngine::WhurlRequest.saved.each do |whurl|
          %li=link_to(whurl.custom_url, short_path(:slug => whurl.custom_url))