!!!
%html
  %head
    = stylesheet_link_tag("whurl_engine/application")
    = javascript_include_tag("whurl_engine/application")
    :javascript
      $(function() {
        $( "input:submit, input:reset, input:button, button, .button").livequery(function() {
          $(this).button();
          $("a.popup").button('option', 'icons', {primary: 'ui-icon-newwin'});
          $("a.add").button('option', 'icons', {primary: 'ui-icon-plusthick'});
          $("a.destroy").button('option', 'icons', {primary: 'ui-icon-closethick'});
          $("a.trash").button('option', 'icons', {primary: 'ui-icon-trash'});
          $("a.edit").button('option', 'icons', {primary: 'ui-icon-pencil'});
          $("a.save").button('option', 'icons', {secondary: 'ui-icon-folder-open'});
          $("a.destroy, a.edit, a.add, a.trash").button('option', 'text', false);
        });

        $( ".accordion" ).accordion({
          autoHeight: false,
          navigation: true,
          collapsible: true,
          active: false
        });
      });

    %title Whurl - API Console
  %body{:class => [controller_name, action_name]}
    .header
      %p
        =link_to "Documentation Home", root_path
        |
        =link_to "Console", new_whurl_path
        |
        =link_to "Stories", stories_path
    .content
      - if notice || alert
        .flash
          - if notice
            .ui-state-highlight.ui-corner-all
              = notice
          - if alert
            .ui-state-error.ui-corner-all
              = alert
      = yield
    .footer
      %p
        Created by
        = succeed "." do
          %a.contact{:href => "mailto:will.read@gmail.com"} Will Read
        See it on
        = succeed "." do
          %a{:href => "https://github.com/tildewill/whurl_engine"} Github
