%h1= "#{@resource.http_method.upcase} #{@resource.relative_path}"
%p= "Updated on #{@resource.updated_at}"
%p= Rinku.auto_link(@resource.description, :all, 'target=_blank').html_safe

%h2 Resource URL
= @resource.url

%h2
  Parameters
  = link_to('Add Parameter', new_parameter_path(:resource_id => @resource.id), :remote => true, :class => 'popup button')

%table
  %tbody.parameters
    - @resource.parameters.each do |parameter|
      = render(parameter)

%h2= "Example Request".pluralize(2)
%h2 Console
= render(:partial => 'whurl_engine/requests/form', :locals => {:whurl_request => WhurlEngine::Request.new(:http_method => @resource.http_method, :url => @resource.url)})