%h1= "#{@resource.http_method.upcase} #{@resource.relative_path}"
%p= "Updated on #{@resource.updated_at}"
%p= Rinku.auto_link(@resource.description, :all, 'target=_blank').html_safe

%h2 Resource URL
= @resource.url

%h2
  Parameters
  -if authorized?(:manage, nil, WhurlEngine::ParameterDefinition)
    = link_to('Add Parameter', new_parameter_definition_path(:resource_id => @resource.id), :remote => true, :class => 'popup button')

%table
  %tbody.parameter_definition
    - @resource.parameter_definitions.each do |parameter_definition|
      = render(parameter_definition)

%h2= "Example Request".pluralize(@resource.whurls.count)
.accordion
  - @resource.whurls.each do |whurl|
    %h3{:class => "whurl_#{whurl.id}"}
      %a{:href => "#whurl_#{whurl.id}"}=whurl.name
    .container{:class => "whurl_#{whurl.id}"}
      -if authorized?(:manage, nil, WhurlEngine::Resource)
        = link_to('', edit_whurl_path(whurl), :remote => true, :class => 'edit button icon_only')
        = link_to( '', whurl, :confirm => 'Are you sure?', :method => :delete, :remote => true, :class => 'destroy button icon_only')
      = whurl.description
      = render(whurl)
%h2 Console
- whurl = WhurlEngine::Whurl.new(:request_method => @resource.http_method, :request_url => @resource.url)
= render(:partial => 'whurl_engine/whurls/form', :locals => {:whurl => whurl})