<%= stylesheet_link_tag("whurls") %>
<%= javascript_include_tag('jquery.min') %>
<%= javascript_include_tag('application') %>

<h1>API Console</h1>
<% form_tag('/whurls', :id => "whurl_form") do %>
    <h2>URL</h2>
    <%= text_field_tag("url", @api_url, :class => "long") %>
    <h2>Headers and Methods</h2>
    <div id="headers">
      <% begin -%>
          <div class="header_pair">
            <%= text_field_tag("header_keys[]", @header_keys.pop, :class => "key") %>
            <%= text_field_tag("header_values[]", @header_values.pop, :class => "value") %>
          </div>
      <% end while @header_keys.present? -%>
    </div>
    <div>
      <input type="button" id="add_header" value="+Add Header"/>
    </div>
    <h2>Parameters and Values</h2>
    <div id="params">
      <% begin -%>
          <div class="param_pair">
            <%= text_field_tag("param_keys[]", @param_keys.pop, :class => "key") %>
            <%= text_field_tag("param_values[]", @param_values.pop, :class => "value") %>
          </div>
      <% end while @param_keys.present? -%>
    </div>
    <div>
      <input type="button" id="add_param" value="+Add Parameter"/>
    </div>
    <div>
      <a href="" id="permalink">Permalink</a>
    </div>
    <%= submit_tag("Send") %>
<% end %>

<div>
  Groupon API Reference:
  <a href="http://sites.google.com/site/grouponapiv2/home" target="_blank">http://sites.google.com/site/grouponapiv2/home</a>
</div>
<div>
  Whurl @ Github: <a href="http://github.com/TildeWill/whurl" target="_bank">http://github.com/TildeWill/whurl</a>
</div>