<%= stylesheet_link_tag("whurls") %>
<style>

</style>
<h1>API Console</h1>
<h2>Headers and Methods</h2>
<% form_tag('/whurls') do %>
    <%= select_tag("method", options_for_select(["GET", "POST", "PUT", "DELETE"])) %> /
    <%= select_tag("url", options_for_select(@urls)) %>
    <div>
      <%= text_field_tag("header_keys[]", nil, :class => "key") %>
      <%= text_field_tag("header_values[]", nil, :class => "value") %>
    </div>
    <div>
      <input type="button" value="+Add Header"/>
    </div>
    <h2>Parameters and Values</h2>
    <div>
      <%= text_field_tag("param_keys[]", nil, :class => "key") %>
      <%= text_field_tag("param_values[]", nil, :class => "value") %>
    </div>
    <div>
      <input type="button" value="+Add Parameter"/>
    </div>
    <%= submit_tag("Send") %>
<% end %>