<div class="top">
  <% form_tag(edit_whurl_commands_url, :method => :get, :id => "whurl_form") do %>

      <div class="row">
        <div class="section_title"><span class="hTitle">URL</span></div>
        <%= select_tag("method", options_for_select(["GET", "POST", "PUT", "DELETE"], @method)) %> /
        <%= text_field_tag("url", @api_url, :class => "long") %>

      </div>
      <!--end row-->

      <div class="row">
        <div class="section_title">
          <div class="hTitle">
            <a id="add_header"><%= image_tag('add.png', :class => 'action_button') %></a>
            Headers
          </div>
        </div>
        <div id="headers">
          <% begin -%>
              <div class="header_pair">
                <%= text_field_tag("header_keys[]", params['header_keys'].try(:pop), :class => "key") %>
                <%= text_field_tag("header_values[]", params['header_values'].try(:pop), :class => "value") %>
              </div>
          <% end while params['header_keys'].present? -%>
        </div>

      </div>
      <!--end row-->


      <div class="row">
        <div class="section_title">
          <div class="hTitle"><a id="add_param"><%= image_tag('add.png', :class => 'action_button') %></a>
            Params
          </div>
        </div>
        <div id="params">
          <% begin -%>
              <div class="param_pair">
                <%= text_field_tag("param_keys[]", params['param_keys'].try(:pop), :class => "key") %>
                <%= text_field_tag("param_values[]", params['param_values'].try(:pop), :class => "value") %>
              </div>
          <% end while params['param_keys'].present? -%>
        </div>
      </div>
      <!--end row-->

      <%= submit_tag("Give it a Whurl!", :class => "submit") %>
  <% end %>
</div><!--end top-->