#response
.top
  = form_for(whurl_request, :as => :request, :url => requests_path, :method => :post) do |f|
    .row
      .section_title
        URL
      #url
        = f.select(:http_method, options_for_select(["GET", "POST", "PUT", "DELETE"], whurl_request.http_method))
        \/
        \#{f.text_field(:url)}
    .row
      .section_title
        %a#trash_headers{:class => 'trash button icon_only', :title => "trash all headers"}
        %a#add_header{:class => 'add button icon_only', :title => "add another header"}
        Headers
      #headers
        = render :partial => 'whurl_engine/requests/input_set', :locals => {:set_name => 'header', :f => f, :key => nil, :value => nil, :disabled => true}
        - whurl_request.headers.each do |key, value|
          = render :partial => 'whurl_engine/requests/input_set', :locals => {:set_name => 'header', :f => f, :key => key, :value => value, :disabled => false}
        = render :partial => 'whurl_engine/requests/input_set', :locals => {:set_name => 'header', :f => f, :key => nil, :value => nil, :disabled => false}
    .row
      .section_title
        %a#trashqueries{:class => 'trash button icon_only', :title => "trash all parameters"}
        %a#add_param{:class => 'add button icon_only', :title => "add another parameter"}
        Query
      #params
        = render :partial => 'whurl_engine/requests/input_set', :locals => {:set_name => 'param', :f => f, :key => nil, :value => nil, :disabled => true}
        - whurl_request.query.each do |key, value|
          = render :partial => 'whurl_engine/requests/input_set', :locals => {:set_name => 'param', :f => f, :key => key, :value => value, :disabled => false}
        = render :partial => 'whurl_engine/requests/input_set', :locals => {:set_name => 'param', :f => f, :key => nil, :value => nil, :disabled => false}
    .row
      .section_title
        Body
      #post_body
        = f.text_area(:body)
    %input.submit{:type => "submit", :value => "Give it a Whurl!"}/
    %input#clearFields.reset{:type => "button", :value => "Reset"}/