%div{:class => "#{set_name}_pair"}
  = text_field_tag("#{set_name}_keys[]", key, :class => "key", :disabled => disabled)
  = text_field_tag("#{set_name}_values[]", value, :class => "value", :disabled => disabled)
  %a{:class => "delete_#{set_name}"}= image_tag("whurl_engine/delete.png", :class => 'delete_button')