<div class="top">
  <% form_for(@command, :id => "whurl_form") do |f| %>

      <div class="row">
        <div class="section_title"><span class="hTitle">URL</span></div>
        <%= f.select(:method, options_for_select(["GET", "POST", "PUT", "DELETE"])) %> /
        <%= f.text_field(:url, :class => "long") %>
      </div>

      <div class="row">
        <div class="section_title">
          <div class="hTitle">
            <a id="add_header"><%= image_tag('add.png', :class => 'action_button') %></a>
            Headers
          </div>
        </div>
        <div id="headers">
          <% begin -%>
              <div class="header_pair">
                <%= text_field_tag('command[header_keys][]', @command.header_keys.try(:pop), :class => "key") %>
                <%= text_field_tag('command[header_values][]', @command.header_values.try(:pop), :class => "value") %>
                <a class="delete_header"><%= image_tag("delete.png", :class => 'delete_button') %></a>
              </div>
          <% end while @command.header_keys.present? -%>
        </div>
      </div>

      <div class="row">
        <div class="section_title">
          <div class="hTitle"><a id="add_param"><%= image_tag('add.png', :class => 'action_button') %></a>
            Params
          </div>
        </div>
        <div id="params">
          <% begin -%>
              <div class="param_pair">
                <%= text_field_tag("command[param_keys][]", @command.param_keys.try(:pop), :class => "key") %>
                <%= text_field_tag("command[param_values][]", @command.param_values.try(:pop), :class => "value") %>
                <a class="delete_param"><%= image_tag("delete.png", :class => 'delete_button') %></a>
              </div>
          <% end while @command.param_keys.present? -%>
        </div>
      </div>
      <%= submit_tag("Give it a Whurl!", :class => "submit") %>
  <% end %>
</div>