<div class="response_section">
  <div class="response_section_title">Response Headers</div>
  <div id="response_header">
    <%= @response_headers %>
  </div>
</div>
<div class="response_section">
  <div class="response_section_title">
    Response Body <%= image_tag("clipboard.png", :id => "copy_to_clipboard") %>
  </div>
  <div class="response_container">
    <%= @api_response %>
  </div>
</div>
<%= render :partial => 'commands/whurl_form' %>

<div id="permalink_container">
  Share this Whurl: <input type="text" id="permalink_text_box" value="<%= request.url %>" onFocus="this.select()"/>
</div>
<%= javascript_include_tag("zero_clipboard/ZeroClipboard.js") %>
<script type="text/javascript">
    $(document).ready(function() {
        ZeroClipboard.setMoviePath( '/javascripts/zero_clipboard/ZeroClipboard10.swf' );
        var clip = new ZeroClipboard.Client();
        clip.setHandCursor(true);
        clip.setText($('.CodeRay td.code').html());
        clip.glue('copy_to_clipboard');
    });
</script>