<div class="response_section">
  <div class="response_section_title">Response Headers</div>
  <div id="response_header">
    <%= @response_headers %>
  </div>
</div>
<div class="response_section">
  <div class="response_section_title">
    Response Body <span id="response_only">(view <a href="<%= request.url + "&response_only=true" %>">request only</a> for copying)</span>
  </div>
  <div class="response_container">
    <%= @api_response %>
  </div>
</div>
<%= render :partial => 'commands/whurl_form' %>

<div id="permalink_container">
  Share this Whurl: <input type="text" id="permalink_text_box" value="<%= request.url %>" onFocus="this.select()"/>
</div>