<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <link rel="icon" href="/favicon.ico" type="image/vnd.microsoft.icon"/>
  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon"/>
  <link rel="apple-touch-icon-precomposed" href="/favicon.ico">

  <%= stylesheet_link_tag('whurls') %>
  <%= stylesheet_link_tag('code') %>

  <title>Whurl - API Console</title>
</head>

<body>

<% if flash[:message] || flash[:warning] %>
    <div class="flash">
      <% if flash[:message] %>
          <span class="message"><%= flash[:message] %></span>
      <% end %>
      <% if flash[:warning] %>
          <span class="warning"><%= flash[:warning] %></span>
      <% end %>
    </div>
<% end %>

<div id="wrapper">

  <a href="/"><img class="logo" src="/images/logo.png" width="521" height="147"/></a>

  <p class="tagline">The Whurl Console makes HTTP requests against the API of your choice.</p>


  <div class="containerTop">&nbsp;</div>
  <!--end containerTop-->
  <div id="container">
    <div class="content">
      <%= yield %>
    </div>
    <!--end content-->

    <div class="footer">
      <p>Created by <a class="contact" href="mailto:will.read@gmail.com">Will Read</a>. See it on <a href="https://github.com/tildewill/whurl_pub">Github</a>.<br/>
        <span class="meadowfete">Designed by <a class="meadowfete" href="http://meadowfete.com" target="_blank">Meadowfete</a>.</span>

      </p>
    </div>
    <!--end footer-->

  </div>
  <!--end container-->
  <img src="/images/container_bottom.png" width="980" height="56"/>
</div>
<!--end wrapper-->

</body>
</html>